<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/week1.css') }}">
{#<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />#}
{#<script defer src="https://pyscript.net/alpha/pyscript.js"></script>#}
<head>
    <meta charset="UTF-8">
    <title>Week-1-Web-Mining</title>
</head>
<body>

{# Code for #}
<p>
    Holy crap it's the homework for week 1! Who would've thunk?!?
</p>
<p>
    <a href="{{ url_for("homepage") }}">Back to the homepage</a>
</p>
<p>Ensembl database query searcher</p>
<form action="/week_1" method="post">
    <button type="submit"/>Go search some fun shit klootviool</button>
    <label for="submission_1">Submit your query here: </label>
    <input type="text" name="query_1" value= {{ request.form.query_1 }} >
</form>

{# Space divider to clean the website a bit #}
<h2></h2>
<hr>
<h2></h2>

<p>Results:</p>

{% for result in myresults %}
    {% with result = result.split() %}
    {% for word in result %}
        {% if word != query %}
        <tr>
            <td>{{ word }}</td>
        </tr>
        {% endif %}
        {% if word == query %}
        <tr>
            <td><b>{{ word }}</b></td>
        </tr>
        {% endif %}
    {% endfor %}
    {% endwith %}
    <br>
{% endfor %}

<p>{{ noresults }}</p>


</body>
</html>